@charset "UTF-8";
/* reset */
* {
    margin: 0; 
    padding: 0;
    list-style: none;
}

.wrap {
    width: 1200px;
    margin: auto;
    background: lightgray;
}
header {
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 100px;
}
header h1 {
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.slide {
    /* height: 300px; */
}
.slide ul {
    display: flex;
    justify-content: space-between;
}
.slide ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; height: 300px;
    background: tomato;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container section {
    width: 30%;
    height: 200px;
    background: rgb(255, 216, 252);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #000;
    color: #fff;
}
footer h1 {
    width: 20%;
    background: rgb(255, 218, 207);
}
footer .copyright {
    width: 40%;
    background: rgb(223, 246, 255);
}
footer .sns {
    width: 30%;
    background: rgb(252, 255, 223);
}